<ion-content fullscreen color="other-black" class="ion-padding">
  <ion-card color="dark">
    <ion-card-content>
      <img src="/assets/images/user-and-phone.png" alt="" />
      <h1 color="light">Fingerprint</h1>
      <ion-label>Please lift and rest your fingerprint</ion-label>
      <img src="/assets/images/fingerprint-2.png" alt="" />
    </ion-card-content>
  </ion-card>
  <ion-button color="yellow" expand="block">
    <ion-label color="light" class="ion-text-uppercase">Continue</ion-label>
  </ion-button>
</ion-content>
