<ion-content fullscreen color="other-black" class="ion-padding">
  <ion-card color="dark">
    <ion-card-content>
      <div class="img-container">
        <img src="/assets/images/user-and-phone.png" alt="" />
      </div>
      <ion-button color="yellow" expand="block">
        <ion-label color="light" class="ion-text-uppercase">Login</ion-label>
      </ion-button>
      <ion-button fill="outline" expand="block" color="purple">
        <ion-label class="ion-text-uppercase">Login with Facebook</ion-label>
      </ion-button>
      <ion-button fill="outline" color="danger" expand="block">
        <ion-label class="ion-text-uppercase">Login with Google</ion-label>
      </ion-button>
      <ion-button fill="clear" expand="block" color="light">
        <ion-label class="ion-text-uppercase">SigIn Up</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
